.form-label {
    font-family: 'Xhers', sans-serif;
}

.myFormInput,
.myTextarea {
    color: var(--color-one);
    background: var(--color-two);
    border: 2px solid var(--color-primary);
    border-radius: 0;
    font-family: 'Share Tech Mono', sans-serif;
    box-shadow: var(--shadow-prim-glow);
}

.myFormInput:hover,
.myTextarea:hover {
    color: var(--color-one);
    outline: 0;
    background: var(--color-two);
    border: 2px solid var(--color-one);
    box-shadow: 0 0 2px var(--color-two);
}

.myFormInput:focus,
.myTextarea:focus {
    color: var(--color-one);
    outline: 0;
    background: var(--color-two);
    opacity: 0.8;
    box-shadow: 0 0 2px var(--color-two);
}

.myTextarea {
    resize: none;
}

.errorMsg {
    color: red;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 24px;
    margin-top: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-two) inset !important;
    -webkit-text-fill-color: var(--color-one);
}


/* Contact Post */

#contactPost {
    background-image: url(../img/stars.png);
    background-attachment: fixed;
    background-size: cover;
}

.contact-post-content {
    height: calc(100vh - 66px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-success p {
    font-size: 1.6rem;
    text-align: left;
}

@media all and (min-width: 2200px) {
    .form-control {
        font-size: 2rem;
    }
    .post-success p {
        font-size: 3rem;
        text-align: left;
    }
}