#footer {
    border-top: 2px solid var(--color-one);
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', sans-serif;
    width: 100%;
}

.footer {
    width: 100%;
    min-height: 64px;
    background: var(--color-primary);
}

.footer-content {
    max-width: 900px;
    padding: 16px;
    gap: 64px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer_Icon {
    margin: 0 8px;
    color: var(--color-two);
}

#footer_Icon:hover {
    color: var(--color-one);
    transform: scale(1.5);
}

.footer-content p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: var(--color-two);
    font-family: 'Xhers', sans-serif;
    opacity: 0.6;
}

.link,
.link:focus,
.link::after {
    color: var(--color-two);
    font-size: 1.2rem;
}

.link:hover {
    color: var(--color-two);
    text-decoration: none;
    color: var(--color-one);
}

.footerSpacer {
    height: 0;
}

@media all and (max-width: 1200px) {
    #footer {
        border: none;
    }
    .footer {
        background: var(--color-two);
        color: var(--color-one);
    }
    .footer-content {
        gap: 8px;
    }
    #footer_Icon {
        color: var(--color-one);
        font-size: 1.5rem;
    }
    .footer-content p {
        font-size: 1rem;
        color: var(--color-one);
    }
    .link,
    .link:focus,
    .link::after {
        color: var(--color-one);
        font-size: 1.2rem;
    }
    .footerSpacer {
        height: 150px;
    }
}

@media screen and (max-width: 700px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-content p {
        order: 2;
    }
    .link {
        margin: 16px 0;
    }
}

@media all and (min-width: 2200px) {
    .footer-content {
        max-width: 1700px;
        padding: 32px 128px;
    }
    .footer-content a,
    .footer-content p {
        font-size: 200%;
    }
}