/* Nav */

.nav {
    position: fixed;
    left: 0px;
    bottom: 96px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.myFa {
    display: none;
}

.nav a {
    color: var(--color-one);
    border-radius: 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    transition: .2s;
    padding: 0px 32px 0px 48px;
    font-family: Xhers, sans-serif;
}

.nav a:hover {
    color: var(--color-two);
    background: var(--color-secondary);
    border-radius: 0;
    padding: 0px 32px 0px 48px;
    transition: .2s;
}


/* Theme */

.modeToggler {
    position: fixed;
    right: 48px;
    bottom: 96px;
    z-index: 1;
    display: block;
}


.radios {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    margin: 0;
    padding: 0;
}

.modeP {
    margin: 0;
    font-size: 1.8rem;
    font-family: Xhers, sans-serif;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-two);
    margin: 0;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-one);
    border-radius: 0;
    display: grid;
    place-content: center;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-primary);
}

input[type="radio"]:checked:before {
    transform: scale(1);
}

input[type="radio"]:checked {
    box-shadow: var(--shadow-prim-glow);
    border: 2px solid var(--color-one);
}

.mode-wrapper {
    position: relative;
    margin: 4px;
}

.mode-hover {
    position: absolute;
    opacity: 0;
    width: 1.25rem;
    height: 1.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    pointer-events: none;
    transition: all .25s;
}

.mh1 {
    background: #0183ff;
}

.mh2 {
    background: #ffb600;
}

.mh3 {
    background: #979796;
}

input[type="radio"]:hover+.mode-hover {
    opacity: 1;
}


/* Socials */

.nav-socials {
    position: fixed;
    top: 64px;
    right: 64px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav-socials a {
    color: var(--color-one);
    transition: all .25;
}

.nav-socials a:hover {
    color: var(--color-primary);
    transform: scale(1.1);
}

/* Description */

label[title] {
    margin-top: 8px;
    font-family: Xhers, sans-serif;
}

label[title]:hover:after {
    content: attr(title);
    position: absolute;
    font-size: 1rem;
    text-align: right;
    transform: translate(-50px, -29px);
}

@media all and (max-width: 1500px) {
    /* Socials */
    .nav-socials {
        flex-direction: column;
        gap: 0px;
    }
}

@media all and (max-width: 1200px) {
    /* Nav */
    .nav {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: var(--color-two);
        height: 100px;
        border-top: 2px solid var(--color-one);
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .myFa {
        display: block;
    }
    .nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-one);
        text-decoration: none;
        font-weight: 700;
        font-size: 1.25rem;
        transition: .2s;
        padding: 0;
        width: 100px;
    }
    .nav a:hover {
        font-size: 1.25rem;
        padding: 0;
        background: none;
        color: var(--color-primary)
    }
    /* Theme */
    .modeToggler {
        height: 110px;
        left: 0;
        right: 0;
        top: 0;
        bottom: auto;
        background: var(--color-two);
        border-bottom: 2px solid var(--color-one);
    }
    .radios {
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 0 16px;
        margin: 0;
        padding: 0;
        padding-top: 48px;
    }
    label[title] {
        margin-top: 0;
    }
    label[title]:hover:after {
        content: '';
    }
    /* Socials */
    .nav-socials {
        top: 0;
        height: 110px;
        gap: 32px;
        flex-direction: row;
    }
    .nav-socials a {
        padding-top: 48px;
        transform: scale(1.5);
    }
    .nav-socials a:hover {
        color: var(--color-primary);
        transform: scale(1.65);
    }
}

@media all and (max-width: 1000px) {
    /* Socials */
    .nav-socials {
        top: 0;
        height: 110px;
        gap: 24px;
    }
    .nav-socials a {
        padding-top: 50px;
        transform: scale(1.25);
    }
    .nav-socials a:hover {
        color: var(--color-primary);
        transform: scale(1.35);
    }
}

@media all and (max-width: 868px) {
    /* Socials */
    .nav-socials {
        display: none;
    }
}

@media all and (min-width: 2200px) {
    .nav {
        bottom: 150px;
    }
    .nav a {
        font-size: 3rem;
        padding: 0px 48px 0px 96px;
    }
    .nav a:hover {
        padding: 0px 48px 0px 96px;
    }
    .modeToggler {
        transform: scale(200%);
        right: 96px;
        bottom: 256px;
    }
    .nav-socials {
        gap: 64px;
    }
    .nav-socials a {
        transform: scale(2);
    }
}