.pj_container {
    gap: 64px;
}

.pj_wrapper {
    max-height: 400px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    background: #000;
    box-shadow: 0px 0px 20px -20px rgba(1, 1, 1, 1);
    transition: 0.25s;
}

.pj_wrapper:hover {
    box-shadow: 0px 30px 40px -40px var(--color-primary);
    transition: 0.25s;
}

.pj_wrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .25s ease-in;
}

.pj_wrapper img:hover {
    opacity: 0.1;
    filter: greyscale(90%);
    cursor: pointer;
}

#pj1 {
    background: #121212;
}

dfn {
    font-weight: 900;
    text-decoration: dotted;
    cursor: help;
}

.pj_desc {
    opacity: 0;
    position: relative;
    padding: 16px;
    padding-left: 24px;
    font-size: 1rem;
    transition: 0.25s ease-in;
    color: #f5f5f5;
    pointer-events: none;
}

.pj_desc h3 {
    font-family: 'Xhers', sans-serif;
}

.pj_active {
    opacity: 1;
    transform: translateY(-120px);
}

.pj_active2 {
    opacity: 1;
    transform: translateY(-96px);
}

.modal-content {
    background: var(--color-two);
}

.btn-close {
    color: var(--color-one)
}


/* Modals */

.modal-content {
    border: 2px solid var(--color-one);
    border-radius: 0px;
}

.modal-header {
    font-size: 2.5rem;
    font-family: 'Xhers', sans-serif;
    background: var(--color-primary);
    border-bottom: 2px solid var(--color-one);
    border-radius: 0px;
}

.modal-title {
    font-size: 2.5rem;
    padding: 0 16px;
}

.modal-body {
    padding: 32px;
    font-size: 1.2rem;
    overflow: hidden;
    width: 100%;
}

.pj_subheader {
    font-family: 'Xhers', sans-serif;
    font-size: 2rem;
    font-style: italic;
    filter: brightness(50%);
    margin-bottom: 16px;
}

.bg-light {
    background: var(--color-one);
    padding: 32px;
}

.pj_video_container {
    justify-content: center;
    display: table;
    width: 75%;
    position: relative;
    box-shadow: var(--shadow);
}

.pj_video {
    filter: brightness(20%);
    min-height: 100%;
    width: 100%;
    transition: 0.5s;
}

.playpause {
    background-image: url(../img/SVG/pause3.svg);
    background-repeat: no-repeat;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}


/* pj nav */

.pj_menu {
    background-color: var(--color-two);
    padding: 32px;
    border-bottom: 2px solid var(--color-one);
}

.pj_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--color-two);
    padding: 0;
    margin: 0;
    width: 100%;
}

.pj_menu ul li {
    list-style: none;
}

.pj_menu ul li a {
    font-family: 'Xhers', sans-serif;
    color: var(--color-one);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.2s;
}

.pj_menu ul li a:hover {
    opacity: 1;
    transition: 0.2s;
}


/* inside modals */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
}

.img-container {
    overflow: hidden;
    max-height: 400px;
    max-width: 600px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.1);
}

.inside-modal {
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: .25s ease-out;
    z-index: 100000;
}

.inside-modal.open {
    opacity: 1;
    pointer-events: all;
}

.inside-modal p {
    color: var(--color-one);
    font-size: 1.5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    padding: 1rem 2rem;
    transform: translate(-50%, -5%);
    transition: all .3 ease-out;
    background: var(--color-two);
    border: 2px solid var(--color-primary);
    box-shadow: var(--shadow-prim-glow);
}

.full-img {
    position: absolute;
    max-height: 70%;
    max-width: 90%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

.full-img.open {
    transform: translate(-50%, -60%) scale(1);
}

@media all and (max-width: 1200px) {
    .pj_img_zoom .cl:checked~img {
        transform: scale(1.2) translateX(0);
    }
    .pj_img_zoom .cr:checked~img {
        transform: scale(1.2) translateX(0);
    }
}

@media all and (max-width: 990px) {
    .pj_img img {
        padding: 4px;
        height: auto;
        object-fit: contain;
    }
    .pj_menu ul li a {
        font-size: 1.4rem;
    }
}

@media all and (max-width: 1200px) {
    .inside-modal p {
        font-size: 1.75rem;
    }
}

@media all and (max-width: 1000px) {
    .inside-modal p {
        font-size: 1.5rem;
    }
}